.wallet-adapter-button-trigger {
  /* Base styles */
  all: unset !important;
  min-width: 143px !important;
  font-family: var(--font-akkurat-mono-ll) !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;

  /* Styles from default variant */
  text-transform: uppercase !important;
  border-radius: 8px !important;
  font-weight: 600 !important;
  border: 1px solid #232323 !important;
  color: white !important;
  background-color: transparent !important;
  padding: 7px 16px !important;

  /* Hover styles */
  transition: all 0.3s ease-in-out !important;
  &:hover {
    border-color: white !important;
    background-color: white !important;
    color: black !important;
  }

  /* Active styles */
  &:active {
    background-color: #e6e6e6 !important;
    color: black !important;
    border-color: #e6e6e6 !important;
  }

  /* Disabled styles */
  &:disabled {
    cursor: not-allowed !important;
  }
}

.wallet-adapter-dropdown-list {
  background-color: black !important;
  border: 1px solid #232323 !important;
  z-index: 999999 !important;
  font-family: var(--font-akkurat-mono-ll) !important;
  transition: all 0.1s ease-in-out !important;
}

.wallet-adapter-modal-wrapper {
  background-color: black !important;
  border: 1px solid #232323 !important;
  z-index: 999999 !important;
  font-family: var(--font-akkurat-mono-ll) !important;
  text-transform: uppercase !important;
  border-radius: 8px !important;
  transition: all 0.1s ease-in-out !important;
}

.wallet-adapter-modal-button-close {
  color: white !important;
  background-color: black !important;
  transition: all 0.1s ease-in-out !important;
}

.wallet-adapter-button {
  font-family: var(--font-akkurat-mono-ll) !important;
  text-transform: uppercase !important;
  transition: all 0.1s ease-in-out !important;
}

.wallet-adapter-button:hover {
  background-color: white !important;
  color: black !important;
  transition: all 0.1s ease-in-out !important;
}

.wallet-adapter-dropdown-list,
.wallet-adapter-dropdown-list-active {
  background-color: black !important;
  border: 1px solid #232323 !important;
  z-index: 999999 !important;
  font-family: var(--font-akkurat-mono-ll) !important;
  text-transform: uppercase !important;
  border-radius: 8px !important;
  transition: all 0.1s ease-in-out !important;
}

.wallet-adapter-dropdown-list-item {
  color: white !important;
  transition: all 0.1s ease-in-out !important;
}

.wallet-adapter-dropdown-list-item:hover {
  background-color: white !important;
  color: black !important;
}

@media (max-width: 768px) {
  .wallet-adapter-button-trigger {
    width: calc(100%- 32px) !important;
  }
}
